
.error{
	color:red;
	background: #F5C3BC;
	width: 350px;
	border-radius: 10px 10px;
	text-align: center;
	padding: 1px 1px;
	border:2px solid red;
}
.validate{
	color:green;
	background: #C4F5BC;
	width: 350px;
	border-radius: 10px 10px;
	text-align: center;
	padding: 1px 1px;
	border:2px solid green;
}
/* INGRESO */

body{
	background-image: url("../img/fondo.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}
form{
	background: #EAF2F8;
	width: 400px;
	padding: 10px 10px;
	border-radius: 15px 15px 15px 15px;
	opacity: 0.85;
}
input{
	margin-bottom: 15px;
	border:0px;
	border-bottom: 2px solid black;
	background: transparent;
	width: 350px;
	height: 35px;
	transition:all 1s;
}
input:hover{
	border-bottom: 2px solid #2ECC71;
	background: #D5F5E3;
}
.header{
	margin-bottom: 10px;
	background: blue;
	color: white;
	width: 410px;
	padding: 1px 1px;
	border-radius: 10px 10px;
}
label{
	color: #85929E;
}
button{
	width: 350px;
	height: 35px;
	border-radius: 1rem 1rem;
	border:none;
	background: #7FEEAF;
	transition: all 2s;
}
button:hover{
	background: #1B9851;
	color: white;
}
